.lang {
  padding-bottom: 5px;
  text-align: right;

  &__button {
    padding: 2px;
    font-family: "Orbit";
    width: 70px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
}